html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9fb;
    color: #333;

  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

header {
  background-color: #1e1e2f;
}

footer{
  background-color: #1e1e2f;
    color: #ccc;
    padding: 1rem 0;
}

a.nav-link {
    margin-left: 1rem;
    transition: color 0.3s ease;
}

a.nav-link:hover {
    color: #00bcd4;
}

section.hero {
    background: linear-gradient(to right, #00bcd4, #2196f3);
    color: white;
    padding: 5rem 2rem;
}

.footer p {
  margin: 0;
}